:root {
  --cell-size: 150px;
  --mark-size: calc(var(--cell-size) * .9);
}

.App {
  text-align: center;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}
